@tailwind base;
@tailwind components;

@font-face {
  font-family: "Mulish";
  src: url(./fonts/Mulish.ttf);
}

@tailwind utilities;

* {
  box-sizing: border-box;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-prev {
  left: 20px !important;
  z-index: 1;
}
.slick-next {
  right: 35px !important;
  z-index: 1;
}
